{% extends 'base.html' %}

{% block content %}
   <div class="info">
    Cifra de César, também conhecida como cifra de troca, código de César ou troca de César, é uma das mais simples e conhecidas técnicas de criptografia. É um tipo de cifra de substituição na qual cada letra do texto é substituída por outra.
   </div>
   <div class="Cipher Container">
        <a href="/encode">
            <div class="cipher-container-item">
                <img class="header-logo" src="{{ url_for('static', filename='images/logo.jpeg') }}">   
            </div>
        </a>

        <a href="/encode"></a>
   </div>
{% endblock %}